<div [className]="'app'"> 
  <h1>Trains Randomizer</h1>

  <div [className]="'signature'">
    By <a href="http://github.com/kberg">Robert Konigsberg</a>.
    Source is on <a href="https://github.com/kberg/trains-randomizer">GitHub</a>
  </div>

  <app-criteria></app-criteria>

  <div>
    <p>Notes:</p>

    <p>The min counts have to be 8 or less, otherwise you'll get a silent
    error message. Which I could fix if I learned Angular better.</p>

    <p>If you want attack cards, set the minimum number of attack cards
    you want, and be sure to include the Rising Sun cards. Even if it's 0
    I bet you'll still get some once in a while because having a minimum
    doesn't mean you won't get any.</p>

    <p>I noticed that if I uncheck the Trains deck there's a bug, I think
    I know where, but patches welcome is the name of the game here.</p>

    <p>Did I mention that patches are welcome? Enjoy!</p>
  </div>
</div>