<div [className]="'app'"> 
  <h1>Trains Randomizer</h1>

  <div [className]="'signature'">
    By <a href="http://github.com/kberg">Robert Konigsberg</a>.
    Source is on <a href="https://github.com/kberg/trains-randomizer">GitHub</a>
  </div>

  <app-criteria></app-criteria>

  <div>
    <p><b>Notes:</b></p>

    <p>Attack cards are considered a different type of card in the generator,
    so you must specifically want it. Be sure to include the Rising Sun cards.</p>

    <p>Patches are welcome! Most of all, enjoy!</p>
  </div>
</div>